<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag 'batman.jpg' %>
    </div>

    <div id="content">
        <h1>Hello my name is Hazri.</h1>
        <p>I am currently building a series of sites/apps with rails to help me improve my skills and knowledge with the language.</p>
        <p>This is just a simple blogging site for you to post and comment on.</p>
        <p>If you wish to follow along or just to follow in general, you can find me at <a href="http://www.github.com/pixelshot">Github</a> , <a href="http://www.twitter.com/hazrijordan">Twitter</a> and <a href="http://www.instagram.com/ahazri">Instagram</a></p>
        <p>Have a Great Day!</p>
    </div>
</div>
